<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

</head>
<body>
	<div id="main" class='layout-navbar'>
		<div id="main-content">

			<div class="page-heading">
				<div class="page-title mb-5">
					<div class="row">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Category</h3>
							<!-- <p class="text-subtitle text-muted">Navbar will appear in top of the page.</p> -->
						</div>
					</div>
				</div>
				<section class="section blnk-db ">

					<form th:action="@{/categories/saveCategory}" method="post"
						enctype="multipart/form-data" th:object="${categories}">
						<div class="card shadow">
							<div class="card-body">
								<h2 class="text-center"
									th:text="${categories != null? 'Edit Category' : 'Add Category'}"></h2>
							</div>
						</div>
						<div class="card shadow my-3">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3"></div>
									<div class="col-md-6">
										<input type="hidden" name="categoryID"
											th:if="${categories != null}"
											th:value="${categories.categoryID}">
										<div class="form-group ">
											<label for="name">Name</label> <input type="text"
												class="form-control" id="name" name="categoryName"
												th:value="${categories != null? categories.categoryName : ''}"
												required>
										</div>
									</div>

									<div class="form-group text-center mt-3">
										<button type="submit" class="btn btn-primary col-md-3">
											<i th:text="${categories != null? 'Update' : 'Add'}"></i>
										</button>
										<a th:href="@{/categories/allCategories}"
											class="btn btn-danger col-md-3"> Cancel </a>
									</div>

								</div>
							</div>
						</div>
					</form>
				</section>

			</div>

			<footer>
				<div class="footer clearfix mb-0 text-muted c-ftr">
					<div class="float-start">
						<p>2021 &copy; Banners Hallmark</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/Bannershallmark/resources/assets/js/main.js"></script>


</body>

</html>