<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
</head>
<body>
	<div id="main" class='layout-navbar'>
		<div id="main-content">

			<div class="page-heading">
				<div class="page-title mb-5">
					<div class="row ">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Dashboard</h3>
							<!-- <p class="text-subtitle text-muted">Navbar will appear in top of the page.</p> -->
						</div>

					</div>
				</div>
				<section class="section blnk-db ">
					<!-- Row start -->
					<div class="row gx-3">
						<div class="col-sm-12 col-12">
							<div class="row">
								<div class="col-xl-4 col-md-4 my-3"
									th:each="acc : ${userAccountShortSummaries}">
									<div class="card border-left-info shadow py-2">
										<div class="card-body">
											<div class="row no-gutters align-items-center">
												<div class="col mr-2">
													<div class="font-weight-bold text-info text-uppercase mb-1">
														<i th:text="${acc.firstname +' '+acc.lastname}"></i>
													</div>
													<div class="row align-items-center">
														<div class="h5 font-weight-bold text-gray-800">
															<i th:text="'$' + ${acc.usertotalPnl}"></i>

														</div>
													</div>
												</div>
												<div class="col-auto">

													<h3>
														<i th:text="${acc.userpnlPercent}+'%'"></i>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card my-3 shadow">
						<div class="card-body">

							<h3>Daily Analysis</h3>
							<!-- Example: Display data in a bar chart using Chart.js -->
							<canvas id="dailyAnalysisChart" width="800" height="300"></canvas>

							<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
							<script th:inline="javascript">
        /* Thymeleaf variable to JavaScript array conversion */
        var DailyAnalysisData = [[${userAccountDailySummaries}]];
        var dlabels = DailyAnalysisData.map(data => data.tradingDate);
        var dtotalPnl = DailyAnalysisData.map(data => data.totalPnl);
        var dtrdpairsId = DailyAnalysisData.map(data => data.trdpairsId);
        /* Chart.js code to render a bar chart */
        var ctx = document.getElementById('dailyAnalysisChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dlabels,
                datasets: [{
                    label: 'Total PNL',
                    data: dtotalPnl,
                    fill: false, 
                    backgroundColor: 'rgba(54, 162, 235, 1)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    tension: 0.1 
                },{
                    label: 'Trading Pair',
                    data: dtrdpairsId,
                    fill: false, // No fill beneath the line
                    backgroundColor: 'yellow',
                    borderColor: 'yellow', // Line color
                    tension: 0.1 // Smoothing of the line
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
						</div>
					</div>

					<div class="card shadow mt-3">
						<div class="card-body">
							<table id="landlord"
								class="table table-striped table-bordered dt-responsive nowrap"
								style="width: 100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Type</th>
										<th>Level</th>
										<th>From</th>
										<th>To</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="c :${calanders}">
										<td th:text="${c.calanderName}"></td>
										<td th:text="${c.type}"></td>
										<td th:text="${c.level}"></td>
										<td th:text="${c.startfrom}"></td>
										<td th:text="${c.endto}"></td>
										<td><a style="color: blue"
											th:href="@{/calander/getCalander/{calanderId}(calanderId=${c.calanderID})}"><i
												class="bi bi-pencil-fill" style="margin: 4"></i></a> | <a
											style="color: red"
											th:href="@{/calander/deleteCalander/{calanderId}(calanderId=${c.calanderID})}"
											onclick="return confirm('Are you sure to delete?')"><i
												class="bi bi-trash-fill" style="margin: 4"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

			</div>

			<footer>
				<div class="footer clearfix mb-0 text-muted c-ftr">
					<div class="float-start">
						<p>2021 &copy; Banners Hallmark</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/Bannershallmark/resources/assets/js/main.js"></script>
	<script>
		$(document).ready(function() {
			$('#landlord').DataTable({
				responsive : true, // Make table responsive
				paging : true, // Enable pagination
				searching : true, // Enable search functionality
				lengthChange : true, // Allow changing number of rows displayed
				pageLength : 10, // Set default number of rows displayed per page
			});
		});
	</script>
</body>
</html>