<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

</head>
<body>
	<div id="main" class='layout-navbar'>
		<div id="main-content">

			<div class="page-heading">
				<div class="page-title mb-5">
					<div class="row">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Traders Accounts</h3>
							<!-- <p class="text-subtitle text-muted">Navbar will appear in top of the page.</p> -->
						</div>
					</div>
				</div>
				<section class="section blnk-db ">

					<form th:action="@{/tradersAccounts/saveTradersAccounts}"
						method="post" enctype="multipart/form-data"
						th:object="${tradersAccounts}">
						<div class="card shadow">
							<div class="card-body">
								<h2 class="text-center"
									th:text="${tradersAccounts != null? 'Edit Traders Accounts' : 'Add Traders Accounts'}"></h2>
							</div>
						</div>
						<div class="card shadow my-3">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<input type="hidden" name="trdAccountID"
											th:if="${tradersAccounts != null}"
											th:value="${tradersAccounts.trdAccountID}">
										<div class="form-group">
											<label for="acc">Account</label> <select class="form-control"
												id="acc" name="accId">
												<option value="">- Select Account -</option>
												<option th:each="a : ${accountsList}"
													th:text="${a.platform+' - '+a.accountLogin}"
													th:value="${a.accountID}"
													th:selected="${tradersAccounts != null && tradersAccounts.account.accountID == a.accountID}"></option>
											</select>
											<small id="accountFeedback"
												class="form-text text-muted"></small>
										</div>

										<div class="form-group ">
											<label for="startFrom">From</label> <input type="date"
												class="form-control" id="startFrom" name="startfrom"
												th:value="${tradersAccounts != null? tradersAccounts.startfrom : ''}"
												required>
										</div>

									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label for="userId">Users</label> <select
												class="form-control" id="userId" name="userId">
												<option value="">- Select User -</option>
												<option th:each="u : ${usersList}"
													th:text="${u.firstname+' '+u.lastname}" th:value="${u.id}"
													th:selected="${tradersAccounts != null && tradersAccounts.user.id == u.id}"></option>
											</select>
										</div>
										<div class="form-group ">
											<label for="tradersAccountsPercent">To</label> <input
												type="date" class="form-control" id="endto" name="endto"
												th:value="${tradersAccounts != null? tradersAccounts.endto : ''}"
												required>
										</div>

									</div>

									<div class="form-group text-center mt-3">
										<button type="submit" class="btn btn-primary col-md-3">
											<i th:text="${tradersAccounts != null? 'Update' : 'Add'}"></i>
										</button>
										<a th:href="@{/tradersAccounts/allTradersAccounts}"
											class="btn btn-danger col-md-3"> Cancel </a>
									</div>

								</div>
							</div>
						</div>
					</form>
				</section>

			</div>

			<footer>
				<div class="footer clearfix mb-0 text-muted c-ftr">
					<div class="float-start">
						<p>2024 &copy; Banners Hallmark</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/Bannershallmark/resources/assets/js/main.js"></script>

<script>
    let debounceTimeout;

    document.getElementById('acc').addEventListener('input', function () {
        clearTimeout(debounceTimeout);
        const accountId = this.value;
        const feedback = document.getElementById('accountFeedback');

        if (accountId) {
            debounceTimeout = setTimeout(() => {
                fetch('checkAssignedAccount?accountId=' + accountId)
                    .then(response => response.json())
                    .then(isTaken => {
                        if (isTaken) {
                            feedback.textContent = 'This account is already assigned.';
                            document.getElementById('accountFeedback').style.color = 'red';
                            document.getElementById('acc').value="";
                        } else {
                        	document.getElementById('accountFeedback').textContent = 'This account is available.';
                            feedback.style.color = 'green';
                        }
                    })
                    .catch(error => {
                        feedback.textContent = 'Error checking account.';
                        feedback.style.color = 'red';
                    });
            }, 300); 
        } else {
            feedback.textContent = '';
        }
    });
</script>
</body>

</html>