<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
<style type="text/css">
.card-body img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}
</style>
</head>
<body>
	<div id="main" class='layout-navbar'>
		<div id="main-content">

			<div class="page-heading">
				<div class="page-title mb-5">
					<div class="row ">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Trade Comment</h3>
						</div>

					</div>
				</div>
				<section class="section blnk-db ">
					<div class="card shadow" th:each="comment : ${tradeComments}">
						<div class="card-body">
							<div class="ig-dflx ">
								<b th:text="${comment.date}"> </b>
							</div>
							<h5
								th:text="${comment.user.firstname+' '+comment.user.lastname}"></h5>
							<p th:if="${comment.description != null}"
								th:text="${comment.description}"></p>


						</div>
					</div>
				</section>

			</div>

			<footer>
				<div class="footer clearfix mb-0 text-muted c-ftr">
					<div class="float-start">
						<p>2024 &copy; Yosal FX</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/Bannershallmark/resources/assets/js/main.js"></script>


	<script>
		$(document).ready(function() {
			$('#landlord').DataTable({
				responsive : true, // Make table responsive
				paging : true, // Enable pagination
				searching : true, // Enable search functionality
				lengthChange : true, // Allow changing number of rows displayed
				pageLength : 10, // Set default number of rows displayed per page
			});
		});
	</script>
</body>
</html>